@media (max-width: 767px) {
   header{
    display: flex;
    flex-direction: column;
   }

   .logo{
    margin-bottom: 10px;
   }

   .menu{
    flex-direction: column;
    font-size: 25px;
   }

   .menu li{
    flex-direction: column;
    padding: 20px;
    
   }

   .register{
    padding: 20px;
    margin-top: 20px;
   }
}